*{
    margin:0;
    padding: 0;
}
.navbar{
    padding: 20px;
}
.navlogo{
    height: 10vh;
    width:  80px;
}
.navbar-nav{
    margin-left:50px;
}
.btn-success{
    position: fixed;
    top:30px;
    right:70px;
}
.home{
    display: flex;
}
.about{
    position: relative;
    top:80px;
    left: 20px;
    font-size: 3em;
    color: rgb(31, 126, 31);
}
.osspc{
    position: relative;
    left:100px;
    bottom: 40px;
    height: 450px;
    width: 700px;
    animation-name: floating;
    
}