*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:500vh;
    overflow-x:hidden;   
}
nav a{
    transition:0.4s !important;
}
.navbar{
    padding: 20px;
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    background:#fff;
    z-index:100;
    height:60px;
    border-bottom:1px solid #11111130;
    box-shadow:0px 2px 6px #11111140;
}
.navbar-nav{
    background:#fff;
}
.navbar-toggler{
    box-shadow:2px 2px 3px #11111130;
}
.navlogo{
    height: 70px;
    width:  80px;
    position:fixed;
    left:3px;
    top:3px;
    z-index:1000;
}
#pcimg{
    text-align:center;
}
.home{
    display: flex;
    margin-top:80px;
    justify-content: space-evenly;
}
.about{
    position: relative;
    top:80px;
    left: 20px;
    padding-left:40px;
    font-weight:bold;
    font-size: 2.5vw;
    color: rgb(101, 3, 114);
    text-shadow:2px 3px 5px #11111150;
}
.about p{
    font-weight:normal;
    font-size:20px;
    margin-top:10px;
    color:#000;
}
.osspc{
    position: relative;
    left:20px;
    bottom: 40px;
    height: 450px;
    width: 700px;
    animation-name: floating;
    z-index:-1;
    margin:auto;
}

.container-fluid{
    position:fixed;
    right:10px;
    top:0px;
    padding:10px;
    width:auto;
    z-index:100;
}
.menuhead{
    width:100%;
    text-align:right;
}
.home{
    width:100%;
}
.home img{
    max-width:100%;
    height:auto;
}

@media screen and (min-width:990px)
{
    nav a{
        text-align:center;
        min-width:140px;
        font-weight:bold;
       /* background:chartreuse;
        border:1px solid black; */
    }
}
@media screen and (max-width:1100px)
{
    .about{
        font-size:3.5vw;
    }
    .about p{
        font-size:20px;
    }
}
@media screen and (max-width:800px)
{
    .about{
        font-size:4.5vw;
    }
    .about p{
        font-size:15px;
    }
}
@media screen and (max-width:990px)
{
    .home{
        flex-direction: column;
    }
    .home img{
        margin-top:50px;
    }
    .home img,.home .about{
        margin:auto;
    }
    .about{
        font-size:5vw;
    }
    .about p{
        font-size:20px;
    }
    .home img{
        margin-top:70px;
    }
    .navbar-nav{
        padding-left:5px;
        border:1px solid #11111140;
        border-top:0;
        box-shadow:3px 3px 5px #11111140;
        position:relative;
        top:5px; 
    }
}
@media screen and (max-width:450px)
{
    .about{
        font-size:5.5vw;
    }
    .about p{
        font-size:14px;
    }
}
nav a{
    width:auto;
}
/*nav a:hover{
    background: rgb(195, 51, 231);
} */

/*domain*/

.dm{
    text-align:center;
    margin-top:100px;
    margin-bottom:50px;
}
.carousel-inner{
    text-align:center;
}
.carousel-item img{
    width:50%;
    height:auto;
}
@media screen and (max-width:1300px)
{
    .carousel-item img{
        width:60%;
    }
}
@media screen and (max-width:950px)
{
    .carousel-item img{
        width:70%;
    }
}
@media screen and (max-width:600px)
{
    .carousel-item img{
        width:85%;
    }
}
/*Events*/
.events{
    text-align:center;
    margin-top:100px;
    position:relative;
    height:70vh;
}
.eventheading{
    margin-bottom: 20vh;
}
#eventimg{
    width:25%;
    height:25%;
    transition:400ms ease;
    border-radius: 12px;
    border:1px solid #11111180;
    box-shadow:4px 4px 5px #11111160;
}
.witharrows-outer{
    position:relative;
    height:70vh;
}
.event-main{
    animation: go-on 1s alternate infinite;
}
@keyframes go-on{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.2);
    }
}
.events i{
    width:40px;
    height:40px;
    font-size:40px;
    position:absolute;
    z-index:100;
    color:rgb(92, 92, 255);
}
.events i:hover{
    cursor:pointer;
}
.fa-arrow-circle-left{
    top:45%;
    left:10%;
    transform:translateY(-50%);
}
.fa-arrow-circle-right{
    top:45%;
    right:10%;
    transform:translateY(-50%);
}
@media screen and (max-width:950px)
{
    #eventimg{
        width:40%;
        height:40%;
    }
}
@media screen and (max-width:600px)
{
    .fa-arrow-circle-right{
        right:5%;
    }
    .fa-arrow-circle-left{
        left:5%;
    }
    #eventimg{
        width:45%;
        height:45%;
    }
}
@media screen and (max-width:450px)
{
    .fa-arrow-circle-right{
        right:2%;
    }
    .fa-arrow-circle-left{
        left:2%;
    }
    #eventimg{
        width:50%;
        height:50%;
    }
}
/*events*/

.swiper-container {
    margin-top:100px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 250px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  }
  .even-t{
      width: 400px;
      height: 250px;
      border-radius: 10px;
  }
  @media only screen and (max-width:990px)
  {
      .swiper-container{
          padding-bottom: 150px;
      }
      .swiper-slide{
          width:300px;
          height: 200px;
      }
      .even-t{
        width:300px;
        height: 200px;
        border-radius:7px;
      }
  }
  @media only screen and (max-width:500px)
  {
      .swiper-container{
          padding-bottom: 100px;
      }
      .swiper-slide{
          width:200px;
          height: 125px;
      }
      .even-t{
        width:200px;
        height: 125px;
        border-radius:7px;
      }
  }
.evhead{
    text-align:center;
    margin-top:100px;
}
/*contact*/
.contact-us{
    margin-top:200px;
}
.cont{
    width:30%;
    font-family: helvetica;
    background-color: black;
    margin-bottom: 200px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    visibility: 2px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);  
    color: antiquewhite; 
}
.icon,.mail{
    padding:20px;
}
iframe{
    width: 100%;
    color: black;
}
.cont-1{
    position: relative;
    bottom: 150px;
    margin-left:10%;
    display: inline-block;
    width:45% ;
}
input{
    width: 100%;
    margin: 15px 0 15px 0;
    height: 30px;
    border:none;
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.5);
}